.background-light {
  background-color: #eee;
}

.background-white {
  background-color: white;
}

.logo-full {
  height: 4rem;
  margin-right: 0;
  margin-bottom: 0;
}

.favicon {
  height: 23px;
  width: 23px;
  min-width: 23px;
  margin-right: 0;
  margin-bottom: 0;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.bd-sidebar {
  background-color: #f8f9fa;
  padding-right: 0rem;
  padding-left: 0rem;
}

.custom-sticky {
  top: 80px;
}

.content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.card-sm {
  width: 18rem;
}

.card-title-link {
  color: #212529;
}