.background-light {
  background-color: #eee;
}

.background-white {
  background-color: white;
}

.logo-full {
  height: 2rem;
  margin-right: 0;
  margin-bottom: 0;
}

.favicon {
  height: 23px;
  width: 23px;
  min-width: 23px;
  margin-right: 0;
  margin-bottom: 0;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding-bottom: 0.75rem;
}

.bd-sidebar {
  background-color: #f8f9fa;
  padding-right: 0rem;
  padding-left: 0rem;
}

@media (min-width: 768px) {
  .bd-sidebar {
    background-color: #f8f9fa;
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .nav-bot {
    margin-top: calc(100vh - 21.5rem);
  }

}

.custom-sticky {
  top: 3.4rem;
}

.content {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.no-pad {
  padding-left: 0px; 
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}



.no-pad-tb {
  padding-bottom: 0px;
  padding-top: 0px;
}

.card-sm {
  width: 18rem;
}

.card-kpi {
  width: 10rem;
}

.card-tag {
  width: 12rem;
}


.card-title-link {
  color: #212529;
}

.card-nav-link {
  color: #495057;
}


.vl {
  border-right: 0.1rem solid rgba(0,0,0,.1)
}

.simple-valid {
  border-color: #96a51e;
}

.simple-invalid {
  border-color: #eb780a;
}


.calendar {
  font-size: 0.9rem;
}


.calendar th {
  padding: 0.2rem;
  text-align: center;
  color: #6c757d !important;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
}

.month {
  padding: 0rem 0rem 1rem 0rem !important;
}

.calendar td {
  vertical-align: top;
  border: 0.1rem solid rgba(0,0,0,.1);
  width: 10rem;
  height: 6rem;
  
}

.header-small {
  padding: 0.1rem 1rem 0.1rem 1rem;
  text-align: right;
  
}

.card-list-small {
  padding: 0.1rem 1rem 0.1rem 1rem;
}

.date {
  
}

.balance-pos{
  
  color: #00a716;
  margin-right: 2rem;
}

.balance-neg{
  
  color: #cc1d11;
  margin-right: 2rem;
}
