{% extends "base.html" %}

{% block content %}

<div class="card shadow-sm mb-3">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
    
                <li class="nav-item">
                    {% if "month" in request.resolver_match.url_name%}
                    <a href="{% url 'entry-month' %}"
                        class="nav-link active"><i class="fas fa-calendar-alt mr-2"></i>Month
                    </a>
                    {% else %}
                    <a href="{% url 'entry-month' %}"
                        class="nav-link active card-nav-link"><i class="fas fa-calendar-alt mr-2"></i>Month
                    </a>
                    {% endif %}
                    
                </li>
                <li class="nav-item">
                    
                    <a href="#"
                        class="nav-link card-nav-link"><i class="fas fa-calendar-week mr-2"></i>Week
                    </a>

                </li>
                <li class="nav-item">
                    {% if "day" in request.resolver_match.url_name%}
                    <a href="#" 
                        class="nav-link active"><i class="fas fa-calendar-day mr-2"></i>Day
                    </a>
                    {% else %}
                    <a href="#" 
                        class="nav-link card-nav-link"><i class="fas fa-calendar-day mr-2"></i>Day
                    </a>
                    {% endif %}

                </li>
                



    
            </ul>
        </div>
    
        {% block card-content %}
        {% endblock card-content %}

{% endblock content %}