{% extends "base.html" %}

{% load filters %}

{% block content %}

<div class="card shadow-sm mb-3">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a href="{% url 'projects-detail' pk=object.project.id%}" class="nav-link card-nav-link"><i
                        class="fas fa-caret-square-left mr-2"></i>Project</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active">WBS</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'projects-element-update' pk_pro=object.project.id pk=object.id %}" class="nav-link card-nav-link"><i class="fas fa-edit mr-2"></i>Edit</a>
            </li>
            <li class="nav-item ml-auto">
                <a href="{% url 'projects-element-delete' pk_pro=object.project.id pk=object.id %}" class="btn btn-siemens-yellow-dark"><i class="fas fa-trash-alt mr-2"></i>Delete</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="container-fluid no-pad">
            <div class="row">
                <div class="col-md-8 vl">
                    <h5 class="card-title"> {{ object.element }}
                        {% if object.active == True %}
                        <span class="badge badge-siemens-green ml-3">Active</span>
                        {% else %}
                        <span class="badge badge-siemens-yellow-dark ml-3">Inactive</span>
                        {% endif %}
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ object.project.project_name }}</h6>
                    <hr>
                </div>
                <div class="col-md-4">
                    <h6 class="card-subtitle mb-2 text-muted">Settings:</h6>
                    <h5 class="card-title">{{ object.act_description }}</h5>

                    <p class="card-text">
                        TG: {{ object.act }}<br>
                        Activity Type: {{ object.act_type }}<br>
                        Cost center:
                    </p>

                </div>
            </div>
        </div>



        <h5 class="card-title">Entries: <a class="btn btn-secondary ml-4" href="{% url 'entries-create' %}" role="button"><i
            class="fas fa-plus-square mr-2"></i>Add Entry</a></h5>



        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col">Break</th>
                    <th scope="col">Duration</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                <tr>
                    <td>
                        {% if entry.booked == True %}
                        <span class="badge badge-siemens-green">Booked</span>
                        {% else %}
                        <span class="badge badge-siemens-yellow-dark">Open</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'entries-detail' pk=entry.id%}">
                                {{ entry.date | date:"Y-m-d" }}
                        </a>
                        </td>
                    <td>{{ entry.description }}</td>
                    <td>{{ entry.start | date:"H:i" }}</td>
                    <td>{{ entry.end | date:"H:i" }}</td>
                    <td>{{ entry.rest | hour_minute_format }}</td>
                    <td>{{ entry.duration }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}