{% extends "tracker/element_base.html" %}

{% load filters %}

{% block card-content %}


    <div class="card-body">
        <div class="container-fluid no-pad">
            <div class="row">
                <div class="col-md-8 vl">
                    <h5 class="card-title"> {{ element }}
                        {% if element.active == True %}
                        <span class="badge badge-siemens-green ml-3">Active</span>
                        {% else %}
                        <span class="badge badge-siemens-yellow-dark ml-3">Inactive</span>
                        {% endif %}
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ element.group.group_name }}</h6>
                    <hr>
                </div>
                <div class="col-md-4">
                    <h6 class="card-subtitle mb-2 text-muted">Settings:</h6>
                    <h5 class="card-title">{{ element.description }}</h5>

                    <p class="card-text">
                        <span class="text-muted">Activity:</span> {{ element.activity }}<br>
                        {% if element.activity_type %}
                        <span class="text-muted">Activity Type:</span> {{ element.activity_type }}<br>
                        {% endif%}
                        {% if element.receiver_ccenter %}
                        Cost center: {{ element.receiver_ccenter }}<br>
                        {% endif%}
                        {% if element.wbs_element %}
                        <span class="text-muted">WBS-Element:</span> {{ element.wbs_element }}<br>
                        {% endif%}
                        {% if element.receiver_order %}
                        Receiver Order: {{ element.receiver_order}}
                        {% endif %}

                    </p>

                </div>
            </div>
        </div>

    </div>


{% endblock card-content %}