{% extends "base.html" %}

{% block content %}

<div class="card shadow-sm mb-3">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                {% if object.element.project.id %}
                <a href="{% url 'projects-detail' pk=object.element.project.id%}" class="nav-link card-nav-link"><i
                        class="fas fa-caret-square-left mr-2"></i>Project</a>
                {% else %}
                <a href="{% url 'projects-list'%}" class="nav-link card-nav-link"><i
                    class="fas fa-caret-square-left mr-2"></i>No Project</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if object.element.project.id and object.element.element %}
                <a href="{% url 'projects-element-detail' pk_pro=object.element.project.id pk=object.element_id%}" class="nav-link card-nav-link"><i
                    class="fas fa-caret-square-left mr-2"></i>WBS</a>
                {% else %}
                <a href="#" class="nav-link card-nav-link"><i
                    class="fas fa-caret-square-left mr-2"></i>No WBS</a>
                {% endif %}
            </li>
            <li class="nav-item">
                    <a href="#" class="nav-link active">Entry</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'entries-update' pk=object.id %}" class="nav-link card-nav-link"><i class="fas fa-edit mr-2"></i>Edit</a>
            </li>
            <li class="nav-item ml-auto">
                <a href="#" class="btn btn-siemens-yellow-dark"><i class="fas fa-trash-alt mr-2"></i>Delete</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
                	
                    <h5 class="card-title"> ID: {{ object.id}} | {{ object.date | date:"Y-m-d" }}</h5>
                    {% if object.element.element %}
                    <h6 class="card-subtitle mb-2 text-muted">{{ object.element.element }}</h6>
                    {% else %}
                    <h6 class="card-subtitle mb-2 text-muted">No Element assigned to this Entry</h6>
                    {% endif %}
                    {% if object.element.project.project_name %}
                    <h6 class="card-subtitle mb-2 text-muted">{{ object.element.project.project_name }}</h6>
                    {% else %}
                    <h6 class="card-subtitle mb-2 text-muted">No Project assigned to this Entry</h6>
                    {% endif %}
                    <hr>
    </div>
</div>

{% endblock content %}