{% extends "tracker/group_base.html" %}

{% block card-content %}



    <div class="card-body">
        <div class="container-fluid no-pad">
            <div class="row">
                <div class="col-md-8 vl">
                    <h5 class="card-title"> {{ object.group_name }}
                        {% if object.active == True %}
                            <span class="badge badge-siemens-green ml-3">Active</span>
                        {% else %}
                            <span class="badge badge-siemens-yellow-dark ml-3">Inactive</span>
                        {% endif %}
                    </h5>
                    {% if object %}
                        <h6 class="card-subtitle mb-2 text-muted">{{ object.customer.country}} Yes</h6>
                    {% endif %}
                    <hr>
                    <ul class="nav">
                        <li class="card-subtitle mb-2 text-muted mr-3">
                            Created on: {{ object.created_date | date:"Y-m-d H:i"}}
                        </li>
                        <li class="card-subtitle mb-2 text-muted">
                            Last modified on: {{ object.modified_date | date:"Y-m-d H:i"}}
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h6 class="card-subtitle mb-2 text-muted">Customer:</h6>
                    <h5 class="card-title">Customer</h5>
                    
                    <p class="card-text">
                                Street<br>
                                Postal<br>
                                City, Country
                    </p>
                </div>
            </div>
        </div>


    </div>


{% endblock card-content %}