{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="card card-sm mb-3">
    <div class="card-body">
        <a href="{% url 'projects-create' %}" class="card-title-link">
            <h5 class="card-title">New Project</h5>
        </a>
    </div>
</div>



{% for project in object_list %}

<div class="card card-sm mb-3">
    <div class="card-body">
        <a href="{% url 'projects-detail' pk=project.id %}" class="card-title-link">
            <h5 class="card-title">{{ project.project_name }}</h5>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">{{ project.country_name }}</h6>
        
        {% for element in project.get_subfeature_elements %}
        <a href="{% url 'projects-element-create' pk=project.id %}"
            class="badge badge-secondary">{{ element.element }}</a>
        {% endfor%}
    </div>
    <div class="card-footer text-muted">
        <a href="{% url 'projects-element-create' pk=project.id %}" class="badge badge-success">Add WBS</a>
        <a href="{% url 'projects-update' pk=project.id %}" class="badge badge-warning">Edit</a>
        <a href="{% url 'projects-delete' pk=project.id %}" class="badge badge-danger">Delete</a>
    </div>
</div>

{% endfor %}
{% endblock content %}