{% extends "base.html" %}

{% block content %}

<div class="card shadow-sm mb-3">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a href="#" class="nav-link active">Project</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'projects-update' pk=project.id %}" class="nav-link card-nav-link"><i class="fas fa-edit mr-1"></i>Edit</a>
            </li>
            <li class="nav-item ml-auto">
                <a href="{% url 'projects-delete' pk=project.id %}" class="btn btn-siemens-yellow-dark"><i
                        class="fas fa-trash-alt mr-2"></i>Delete</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <div class="container-fluid no-pad">
            <div class="row">
                <div class="col-md-8 vl">
                    <h5 class="card-title"> {{ object.project_name }}
                        {% if object.active == True %}
                        <span class="badge badge-siemens-green ml-3">Active</span>
                        {% else %}
                        <span class="badge badge-siemens-yellow-dark ml-3">Inactive</span>
                        {% endif %}
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ object.country_name }}</h6>
                    <hr>
                    <ul class="nav">
                        <li class="card-subtitle mb-2 text-muted mr-3">
                            Created on: {{ object.created_date | date:"Y-m-d H:i"}}
                        </li>
                        <li class="card-subtitle mb-2 text-muted">
                            Last modified on: {{ object.modified_date | date:"Y-m-d H:i"}}
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h6 class="card-subtitle mb-2 text-muted">Customer:</h6>
                    <h5 class="card-title">{{ object.customer_name}}</h5>
                    
                    <p class="card-text">
                                {{ object.customer_street}}<br>
                                {{ object.customer_postal}}<br>
                                {{ object.customer_city}}, {{ object.country_name }}
                    </p>
                </div>
            </div>
        </div>

        <h5 class="card-title">WBS-Elements: <a class="btn btn-secondary ml-4" href="{% url 'projects-element-create' pk=project.id %}" role="button"><i
            class="fas fa-plus-square mr-2"></i>Add WBS</a> </h5>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">WBS-Element</th>
                    <th scope="col">Activity</th>
                    <th scope="col">Activity Type</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for element in elements %}
                <tr>
                    <th scope="row">
                        {% if element.active == True %}
                        <span class="badge badge-siemens-green">Active</span>
                        {% else %}
                        <span class="badge badge-danger">Inactive</span>
                        {% endif %}
                    </th>
                    <td>
                        <a href="{% url 'projects-element-detail' pk_pro=project.id pk=element.id %}">
                            {{element.element}}
                        </a>
                    </td>
                    <td>{{element.act}}</td>
                    <td>{{element.act_type}}</td>
                    <td>{{element.act_description}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}