{% extends "base.html" %}

{% block content %}


<div class="card mb-3">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                {% if project %}
                <a href="{% url 'projects-detail' pk=project.id %}" class="nav-link card-nav-link">Project</a>
                {% else %}
                <a href="{% url 'projects-list' %}" class="nav-link card-nav-link">Project</a>
                {% endif%}
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active"><i class="fas fa-edit mr-2"></i>Edit</a>
            </li>
            <li class="nav-item ml-auto">
                {% if project %}
                <a href="{% url 'projects-delete' pk=project.id %}" class="btn btn-siemens-yellow-dark">
                {% else%}
                <a href="#" class="btn btn-siemens-yellow-dark">
                {% endif %}
                <i class="fas fa-trash-alt mr-2"></i>Delete</a>
            </li>

        </ul>
    </div>
    <div class="card-body">
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form>
    </div>
</div>



{% endblock%}