{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="card shadow-sm mb-3">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a href="{% url 'dash-flex' %}"
                        class="nav-link {% if "flex" in request.resolver_match.url_name %} active {% else %} card-nav-link {% endif %}">
                        <i class="fas fa-chart-line mr-2"></i>Flextime Account</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'dash-group' %}" class="nav-link {% if "group" in request.resolver_match.url_name %} active {% else %} card-nav-link {% endif %}">
                        <i class="fas fa-chart-pie mr-2"></i>Element Groups</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link {% if "tag" in request.resolver_match.url_name %} active {% else %} card-nav-link {% endif %}">
                        <i class="fas fa-tags mr-2"></i>Personal Tags</a>
                </li>
    
            </ul>
        </div>

{% block card-content %}
{% endblock card-content%}

</div>

<!-- 
<script src="{% static 'js/node_modules/chart/dist/Chart.min.js' %}"></script>
-->

<script>
    $(document).ready(function(){
        {% block jquery %}{% endblock jquery %}
    })
</script>

{% endblock content %}
