{% extends "dashboard/dashboard_base.html" %}

<script>
{% block jquery %}
var endpoint = '/api/v1/chart/group-sum'
var dataset = []
var labels = []
var background = []
var border = []

$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        console.log(data)
        var labels = data.names
        var dataset = data.hours
        var background = data.background
        var border = data.border
        var ctx = document.getElementById('groupPie');
        var groupPie = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Element Group',
                    data: dataset,
                    backgroundColor: background,
                    borderColor: border
                }],
            }
        })
    },
    error: function(error_data){
        console.log(data)
    }
})


{% endblock jquery %}
</script>



{% block card-content %}

    <div class="row">
        <div class="col-md-4 mt-3 mb-3 vl">
            Placeholder pick date and or project
        </div>
        <div class="col-md-7">
            <div class="m-4">
                <canvas id="groupPie" width="100" height="80"></canvas>
            </div>
            
        </div>
    </div>





{% endblock card-content %}