{% extends "base.html" %}

{% load static%}

{% block content %}

<div class="card mb-3 shadow-sm">
    <div class="card-body">
        <h5 class="card-title">Resources</h5>
    </div>

    <div class="card-deck ml-3 mr-3 mb-3">
        <div class="card">
            <a href="https://www.python.org/"><img src="{% static 'img/python-logo.png' %}" class="card-img-top" alt="python-logo"></a>
            <div class="card-body " style="background-color: #d4d4d4;">
                <h5 class="card-title card-nav-link">Python</h5>
                <p class="card-text">Python is a programming language that lets you work more quickly and integrate your systems more effectively.</p>
                <p class="card-text">
                    Python is powerful... and fast;<br>
                    plays well with others;<br>
                    runs everywhere;<br>
                    is friendly & easy to learn;<br>
                    is Open. </p>
                
                </p>
            </div>
        </div>
        <div class="card">
            <a href="https://www.djangoproject.com"><img src="{% static 'img/django-logo-big.jpg' %}" class="card-img-top" alt="django-logo-big"></a>
            <div class="card-body" style="background-color: #d4d4d4;">
                <h5 class="card-title">Django-Framework</h5>
                <p class="card-text">The web framework for perfectionists with deadlines.</p>
                <p class="card-text">Django is a high-level Python
                    Web framework that encourages rapid development and clean, pragmatic design. Built by experienced
                    developers, it takes care of much of the hassle of Web development, so you can focus on writing your
                    app without needing to reinvent the wheel. It’s free and open source. </p>
                
                    
                </p>
            </div>
        </div>
        <div class="card">
            <a href="https://www.sqlite.org/index.html"><img src="{% static 'img/sqlite.png' %}" class="card-img-top" alt="sqlite"></a>
            <div class="card-body" style="background-color: #d4d4d4;">
                <h5 class="card-title">SQLite</h5>
                <p class="card-text">Small. Fast. Reliable. Choose any three.</p>
                <p class="card-text">SQLite is a C-language library that implements a small, fast, self-contained,
                    high-reliability, full-featured, SQL database engine. SQLite is the most used database engine in the
                    world. SQLite is built into all mobile phones and most computers and comes bundled inside countless
                    other applications that people use every day.</p>
                </p>
            </div>
        </div>
        <div class="card">
            <a href="https://getbootstrap.com/"><img src="{% static 'img/bootstrap.png' %}" class="card-img-top" alt="bootstrap"></a>
            <div class="card-body" style="background-color: #d4d4d4;">
                <h5 class="card-title">Bootstrap</h5>
                <p class="card-text"> Build responsive, mobile-first projects on the web with the world’s most popular
                    front-end component library.

                    Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your
                    ideas or build your entire app with our Sass variables and mixins, responsive grid system, extensive
                    prebuilt components, and powerful plugins built on jQuery. </p>                
                </p>
            </div>
        </div>
    </div>

</div>



{% endblock content %}