{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if title %}
    <title> {{ title }} | Time Tracker </title>
    {% else %}
    <title> Time Tracker </title>
    {% endif %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>



<body class="background-light" style="padding-top: 80px;">
    <header class="navbar background-white fixed-top">
        <a class="navbar-brand aria-label=" Siemens" style="padding-top: 0px;padding-bottom: 0px;"">
            <img class=" logo-full" src="{% static 'img/siemens-logo-claim.png' %}">
        </a>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-2 bd-sidebar">
                <div class="sticky-top custom-sticky">
                    <nav class="nav flex-column">
                        <a class="nav-link {% if request.resolver_match.url_name == "entries" %} badge-info {% else %} badge-light {% endif %}"
                            href="{% url 'entries'%}">
                            <span>Time Entries </span>

                        </a>
                        <a class="nav-link {% if request.resolver_match.url_name == "projects" %} badge-info {% else %} badge-light {% endif %}"
                            href="{% url 'projects-list'%}">
                            <span>Projects </span>

                        </a>

                        <a class="nav-link {% if request.resolver_match.url_name == "dashboard" %} badge-info {% else %} badge-light {% endif %}"
                            href="#">
                            <span>Dashboard </span>

                        </a>
                        <a class="nav-link {% if request.resolver_match.url_name == "reports" %} badge-info {% else %} badge-light {% endif %}"
                            href="#">
                            <span>Reports </span>

                        </a>
                    </nav>
                </div>
            </div>
            <div class="col-md-9 col-lg-10">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>

    {% if messages %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <p>{{ message }}</p>
            </div>
            {% endfor %}
        </div>

    </div>
    {% endif %}


</body>

</html>