{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    {% if title %}
    <title> {{ title }} | Time Tracker </title>
    {% else %}
    <title> Time Tracker </title>
    {% endif %}

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon2.png' %}"/>
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <!-- Siemens Color / Button / Badges / Alerts -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/siemens.css' %}">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'icons/all.min.css' %}">

    <!-- jQuery-->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

</head>



<body class="background-light" style="padding-top: 3.4rem">
    <header class="navbar background-white fixed-top">
        <a class="navbar-brand no-pad no-pad-tb" aria-label="Siemens">
            <img class=" logo-full" src="{% static 'img/siemens-logo-claim.png' %}">
        </a>
    </header>



    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-2 lg-max bd-sidebar">
                <div class="sticky-top custom-sticky">
                    <ul class="nav flex-column">
                        <a class="nav-link {% if "entries" in request.resolver_match.url_name %} badge-teal-light {% else %} badge-light {% endif %}"
                            href="#">
                            <i class="fas fa-clock fa-fw mr-2"></i>
                            <span>Time Entries</span>
                        </a>

                        <a class="nav-link {% if "group" in request.resolver_match.url_name %} badge-teal-light {% else %} badge-light {% endif %}"
                            href="{% url 'group-list' %}">
                            <i class="fas fa-project-diagram fa-fw mr-2"></i>
                            <span>Element Groups</span>
                        </a>

                        <a class="nav-link {% if "dash" in request.resolver_match.url_name %} badge-teal-light {% else %} badge-light {% endif %}"
                            href="#">
                            <i class="fas fa-chart-bar fa-fw mr-2"></i>
                            <span>Dashboard</span>
                        </a>

                        <a class="nav-link {% if "reports" in request.resolver_match.url_name %} badge-teal-light {% else %} badge-light {% endif %}"
                            href="#">
                            <i class="fas fa-file-invoice fa-fw mr-2"></i>
                            <span>Reports</span>
                        </a>

                        <a class="nav-link {% if "settings" in request.resolver_match.url_name %} badge-teal-light {% else %} badge-light {% endif %}"
                        href="{% url 'settings-personal' %}">
                        <i class="fas fa-user-cog fa-fw mr-2"></i>
                        <span>Settings</span>
                        </a>

                        <a class="nav-link badge-light nav-bot"
                            href="/api/v1">
                            <span><i class="fas fa-network-wired fa-fw mr-2"></i>REST API</span>
                        </a>

                        <a class="nav-link card-nav-link"
                            href="{% url 'about' %}">
                            <span>About</span>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-lg-10 content">

                {% if messages %}
                <div class="row">
                    <div class="col-12">
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            <p>{{ message }}</p>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                {% endif %}

                {% block content %} {% endblock %}
            </div>
        </div>
    </div>




</body>

</html>